@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body {
    background-color: #fdfffc;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #14213d;
    overflow: hidden;
}

nav a {
    float: left;
    padding: 17px 16px;
    text-decoration: none;
    color: #fff1e6;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #e5e5e5;
}

header h1 {
    width: 1012px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: lighter;
    background-color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
}

article {
    display: flex;
    margin: 0% 25%;
    padding: 10px;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    color:#a1a0a3;
}

section {
    margin: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 20%;
    text-align: justify;
}

footer {
    background-color: #14213d;
    color: hsl(60, 8%, 81%);
    
}

footer p {
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

#karta { 
    height: 712px; 
    width: 1012px;
}